[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
dj-database-url = "*"
whitenoise = "*"
"psycopg2" = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
